
/*------- CSS for league table teaser template -------*/
.cfcleague-teaser {
	padding: 2px 0 2px 5px;
	margin:0;
}
.cfcleague-teaser p {
	margin:0;padding:0;
}
.rowTeam-teaser {
	font-weight:bold;
	color:#1362AE;
}

/*------- CSS for match table template -------*/
.cfcleague-matchtable {width:100%;}
.cfcleague-matchtable-row0 td{background:#80C4F8;vertical-align:top;}
.cfcleague-matchtable-row1 td{background:#C0E4FF;vertical-align:top;}
.cfcleague-matchtable-rowinfo {}
.cfcleague-matchtable-rowmatch td{font-weight:bold;}
.cfcleague-matchtable-result {white-space: nowrap;}

/*------- CSS for league table template -------*/
.cfcleague-leaguetable-row0 td{background:#80C4F8;}
.cfcleague-leaguetable-row1 td{background:#C0E4FF;}
.cfcleague-leaguetable-rowTeam td{font-weight:bold;}
.cfcleague-leaguetable-row_gruen td{background:#99CC00;}
.cfcleague-leaguetable-row_rot td{background:#F83B06;}
th {text-align:left;}

.cfcleague-leaguetable {width:100%;}
.cfcleague-leaguetable-form {}
.cfcleague-leaguetable-form form {margin:0; padding:0;}
.cfcleague-leaguetable-comments {}
.cfcleague-leaguetable-comments h3 { margin:2px 0;}
.cfcleague-leaguetable-comment {margin:0;padding:0; font-size:9px;}

/*------- CSS for player statistics template -------*/
.cfcleague-playerstats-table {width:100%; border: 1px solid #20528B;}

.cfcleague-playerstats-table th {background: #20528B; color:white; font-weight:bold;}
.cfcleague-playerstats-colvalue {text-align:center; }
.cfcleague-playerstats-colplayer {text-align:left;}

.cfcleague-statistic-table {width:100%; border: 1px solid #20528B;}
.cfcleague-statistic-table th {background: #20528B; color:white; font-weight:bold;}
.cfcleague-statistic-table th.center {background: #20528B; color:white; font-weight:bold; text-align:center}
.cfcleague-statistic-value-c {text-align:center; }
.cfcleague-statistic-value-l {text-align:left; }
.cfcleague-statistic-value-r {text-align:right; }
.cfcleague-statistic-label {text-align:left;}


/*------- CSS for profile list template -------*/
.cfcleague-profilelist-pager {
  background:#20528B ; color:white; padding:5px 10px;
  font-size:12px; font-weight:bolder;
}
.cfcleague-profilelist-pagertable {
  border:1px solid #20528B; width:100%;
}
.cfcleague-profilelist-pagertable td {
  vertical-align:top;
}

#cfcleague-profilelist H3 {
 margin:0; margin-bottom:5px; padding:0; font-size:11px; color:#1b3665;
}

.cfcleague-profilelist-pager a {
}
.cfcleague-profilelist-pagerlink a {
  color:white; text-decoration:none;
  font-weight:normal;
}
.cfcleague-profilelist-pagersize a{
  color:white; text-decoration:none;
  font-weight:normal;
  font-size:8px;
}

/*------- CSS for profile view template -------*/
#cfcleague-profileview h3 {
 font-size:12px; color: #1b3665;margin:5px 0;padding:0;
}

#cfcleague-profileview td {
 vertical-align:top;
}
#cfcleague-profileview th {
 vertical-align:top; width:150px;
}

.prof_head {text-align:right;vertical-align:top;font-weight:bold;font-size:12px;}
.prof_value {text-align:left;vertical-align:top;font-size:12px;}


/*------- CSS for ticker list template -------*/
#cfcleague-tickerlist { margin-top:3px; padding: 5px; border: groove 10px #88C0E8; font-size:12px; text-align:center;}

/*------- CSS for teamview template -------*/
#cfcleague-teamview {color:#1b3665;}
.cfcleague-teamview-firstpic-creator {font-weight:bold;}

/*------- CSS for match report template -------*/
#cfcleague-report-introtable{width:100%}
#cfcleague-report-statstable{width:100%}
.cfcleague-report-head1 {margin:2px 0;padding:0;text-align:center;font-size: 8px; font-weight: bold; color: #990000}
.cfcleague-report-head3 {margin:2px 0;padding:0;text-align:center;}
.cfcleague-report-logo {}
#cfcleague-report-ticker {height:300px; overflow:auto;}
.cfcleague-report-ticker-head {background:#D6D6D6; color:#20528B; font-weight:bold;}
.cfcleague-report-ticker-msg {padding-left: 25px;}
#cfcleague-report-summary-author {font-weight:bold; }
#cfcleague-report-teams {margin-bottom:5px;}
#cfcleague-report-teams td{vertical-align:top;}
.cfcleague-report-team {width:40%;}
.cfcleague-report-coach-head, .cfcleague-report-changes-head, .cfcleague-report-penalties-head, 
   .cfcleague-report-team-head, .cfcleague-report-subst-head, .cfcleague-report-scorer-head {
  font-weight:bold;
}
#cfcleague-report-images {margin-top:20px;}
#cfcleague-report-images img {margin:5px;}
.cfcleague-card {margin:0 2px;}

