<html>
<head>
<title>Template für Ligatabelle</title>
</head>
<body>

<h1>Template für Ligatabelle</h1>
<p>Ab sofort werden Tabellen für verschiedene Sportarten unterstützt. Jede 
Sportart erhält dafür einen eigenen Subpart innerhalb von #*#LEAGUE_TABLE###
Mitgeliefert werden:
<ul>
<li>###SPORTS_FOOTBALL###
<li>##SPORTS_ICEHOCKEY###
<li>###SPORTS_VOLLEYBALL###
</ul>
</p>


<h2>Vorhandene Marker:</h2>
<pre>
###CONTROLS### Subpart für das Steuerungspanel der Tabelle
###CONTROL_TABLETYPE### Subpart für Auswahl des Tabellentyps (Normal, Heim oder Auswärts)
###CONTROL_TABLESCOPE### Subpart für Auswahl Tabellenscope (Normal, Hin- oder Rückrunde)
###CONTROL_POINTSYSTEM### Subpart für Auswahl Punktsystem (2- oder 3-Punktesystem)

###CONTROL_TABLETYPE_NORMAL_LINK### Subpart für Link auf Tabellentyp normal
###CONTROL_TABLETYPE_HOME_LINK### Subpart für Link auf Tabellentyp Heim
###CONTROL_TABLETYPE_AWAY_LINK### Subpart für Link auf Tabellentyp Auswärts

###CONTROL_TABLESCOPE_NORMAL_LINK### Subpart für Link auf Tabellenscope normal
###CONTROL_TABLESCOPE_FIRST_LINK### Subpart für Link auf Tabellenscope Hinrunde
###CONTROL_TABLESCOPE_SECOND_LINK### Subpart für Link auf Tabellenscope Rückrunde

###CONTROL_POINTSYSTEM_POINT3_LINK### Subpart für Link auf 3-Punkte-Tabelle
###CONTROL_POINTSYSTEM_POINT2_LINK### Subpart für Link auf 2-Punkte-Tabelle

Hinweis: Per TS können die Links und URLs zusätzlich gewrapped werden wobei aktive Links unterschieden werden!

###ROW### Subpart für eine Zeile der Tabelle
###ROW_ROLL### Marker für den Typ einer Zeile. Dies ist eine laufende Nummer bei 0 beginnend und leaguetable.table.rowroll endend.
###ROW_MARKCLUB### Marker zur Markierung von ausgewählten Teams. Dies sollte eine CSS-Klasse sein
###ROW_MARK### Marker zur Markierung von bestimmten Tabellenpositionen. Der Inhalt wird aus dem Wettbewerbsdatensatz geholt.
###ROW_POSITION### Marker für Tabellenplatz
###ROW_POSITIONCHANGE### Marker für Tabellenplatzänderung
###ROW_OLDPOSITION### Marker für Tabellenplatz des vorherigen Spieltags
###ROW_...### Marker für Werte aus dem Teamdatensatz
###ROW_SHOWTEAMLINK### Subpart für Link auf die Teamdarstellung
###ROW_SHOWMATCHTABLELINK### Subpart für Link auf Teamspielplan
###ROW_MATCHCOUNT### Marker für Anzahl der Spiele
</pre>



<!-- ------------------------------------------------ -->
<!-- START MAIN TEMPLATE -->
<!-- ------------------------------------------------ -->
###LEAGUE_TABLE###

###SPORTS_FOOTBALL###
<h2>###LEAGUE_NAME###</h2>

<!-- ###CONTROLS### start -->
<div class="cfcleague-scopeselection">
###CONTROL_TABLETYPE###
<p>
###CONTROL_TABLETYPE_NORMAL_LINK### ###LABEL_TABLETYPE_NORMAL### ###CONTROL_TABLETYPE_NORMAL_LINK###
###CONTROL_TABLETYPE_HOME_LINK### ###LABEL_TABLETYPE_HOME### ###CONTROL_TABLETYPE_HOME_LINK###
###CONTROL_TABLETYPE_AWAY_LINK### ###LABEL_TABLETYPE_AWAY### ###CONTROL_TABLETYPE_AWAY_LINK###
</p>
###CONTROL_TABLETYPE###

###CONTROL_TABLESCOPE###
<p>
###CONTROL_TABLESCOPE_NORMAL_LINK### ###LABEL_TABLESCOPE_NORMAL### ###CONTROL_TABLESCOPE_NORMAL_LINK### 
###CONTROL_TABLESCOPE_FIRST_LINK### ###LABEL_TABLESCOPE_FIRST### ###CONTROL_TABLESCOPE_FIRST_LINK### 
###CONTROL_TABLESCOPE_SECOND_LINK### ###LABEL_TABLESCOPE_SECOND### ###CONTROL_TABLESCOPE_SECOND_LINK###
</p>
###CONTROL_TABLESCOPE###

###CONTROL_POINTSYSTEM###
<p>
###CONTROL_POINTSYSTEM_POINT3_LINK### ###LABEL_POINTSYSTEM_POINT3### ###CONTROL_POINTSYSTEM_POINT3_LINK###
###CONTROL_POINTSYSTEM_POINT2_LINK### ###LABEL_POINTSYSTEM_POINT2### ###CONTROL_POINTSYSTEM_POINT2_LINK###
</p>
###CONTROL_POINTSYSTEM###

</div>
<!-- ###CONTROLS### end -->




###ROWS###
<div class="cfcleague-leaguetable">
<table class="table table-striped">
<tr>
  <th>Pl.</th><th>###LABEL_CLUB###</th><th>###LABEL_MATCHES###</th><th>S</th><th>U</th><th>N</th><th>###LABEL_GOALS###</th><th>###LABEL_DIFF###</th><th>###LABEL_POINTS###</th>
</tr>

###ROW###
<tr class="cfcleague-leaguetable-row###ROW_ROLL### ###ROW_MARKCLUB### cfcleague-leaguetable-row_###ROW_MARK###">
  <td>###ROW_POSITION###. (###ROW_OLDPOSITION###)</td>
  <td>###ROW_LOGO### ###ROW_SHOWTEAMLINK######ROW_NAME######ROW_PENALTIES######ROW_SHOWTEAMLINK### (###ROW_SHOWMATCHTABLELINK######LABEL_MATCHTABLE######ROW_SHOWMATCHTABLELINK###)</td>
  <td>###ROW_MATCHCOUNT###</td>
  <td>###ROW_WINCOUNT###</td>
  <td>###ROW_DRAWCOUNT###</td>
  <td>###ROW_LOSECOUNT###</td>
  <td>###ROW_GOALS1###:###ROW_GOALS2###</td>
  <td>###ROW_GOALS_DIFF###</td>
  <td>###ROW_POINTS######ROW_POINTS2###</td>
</tr>
###ROW###
</table>
</div>
###ROWS###

<!-- ###PENALTIES### start -->
<div class="cfcleague-leaguetable-comments">

<h3>Hinweise</h3>
<!-- ###PENALTY### start -->
<p class="cfcleague-leaguetable-comment">* ###PENALTY_COMMENT###
</p>
<!-- ###PENALTY### end -->
</div>
<!-- ###PENALTIES### end -->

###SPORTS_FOOTBALL###

<!-- ------------------------------- -->
<!-- ------------------------------- -->


###SPORTS_ICEHOCKEY###

<h2>###LEAGUE_NAME###</h2>

<!-- ###CONTROLS### start -->
<div class="cfcleague-scopeselection">
###CONTROL_TABLETYPE###
<p>
###CONTROL_TABLETYPE_NORMAL_LINK### ###LABEL_TABLETYPE_NORMAL### ###CONTROL_TABLETYPE_NORMAL_LINK###
###CONTROL_TABLETYPE_HOME_LINK### ###LABEL_TABLETYPE_HOME### ###CONTROL_TABLETYPE_HOME_LINK###
###CONTROL_TABLETYPE_AWAY_LINK### ###LABEL_TABLETYPE_AWAY### ###CONTROL_TABLETYPE_AWAY_LINK###
</p>
###CONTROL_TABLETYPE###

###CONTROL_TABLESCOPE###
<p>
###CONTROL_TABLESCOPE_NORMAL_LINK### ###LABEL_TABLESCOPE_NORMAL### ###CONTROL_TABLESCOPE_NORMAL_LINK### 
###CONTROL_TABLESCOPE_FIRST_LINK### ###LABEL_TABLESCOPE_FIRST### ###CONTROL_TABLESCOPE_FIRST_LINK### 
###CONTROL_TABLESCOPE_SECOND_LINK### ###LABEL_TABLESCOPE_SECOND### ###CONTROL_TABLESCOPE_SECOND_LINK###
</p>
###CONTROL_TABLESCOPE###

###CONTROL_POINTSYSTEM###
<p>
###CONTROL_POINTSYSTEM_POINT3_LINK### ###LABEL_POINTSYSTEM_POINT3### ###CONTROL_POINTSYSTEM_POINT3_LINK###
###CONTROL_POINTSYSTEM_POINT2_LINK### ###LABEL_POINTSYSTEM_POINT2### ###CONTROL_POINTSYSTEM_POINT2_LINK###
</p>
###CONTROL_POINTSYSTEM###

</div>
<!-- ###CONTROLS### end -->




###ROWS###
<div class="cfcleague-leaguetable">
<table class="table table-striped">
<tr>
  <th>Pl.</th><th>###LABEL_CLUB###</th><th>###LABEL_MATCHES###</th><th>S</th><th>U</th><th>N</th><th>OTs</th><th>Ps</th><th>Pn</th><th>OTn</th><th>###LABEL_GOALS###</th><th>###LABEL_DIFF###</th><th>###LABEL_POINTS###</th>
</tr>

###ROW###
<tr class="cfcleague-leaguetable-row###ROW_ROLL### ###ROW_MARKCLUB### cfcleague-leaguetable-row_###ROW_MARK###">
  <td>###ROW_POSITION###. (###ROW_OLDPOSITION###)</td>
  <td>###ROW_LOGO### ###ROW_SHOWTEAMLINK######ROW_NAME######ROW_PENALTIES######ROW_SHOWTEAMLINK### (###ROW_SHOWMATCHTABLELINK######LABEL_MATCHTABLE######ROW_SHOWMATCHTABLELINK###)</td>
  <td>###ROW_MATCHCOUNT###</td>
  <td>###ROW_WINCOUNT###</td>
  <td>###ROW_DRAWCOUNT###</td>
  <td>###ROW_LOSECOUNT###</td>
  <td>###ROW_WINCOUNT_OVERTIME###</td>
  <td>###ROW_WINCOUNT_PENALTY###</td>
  <td>###ROW_LOOSECOUNT_PENALTY###</td>
  <td>###ROW_LOOSECOUNT_OVERTIME###</td>
  <td>###ROW_GOALS1###:###ROW_GOALS2###</td>
  <td>###ROW_GOALS_DIFF###</td>
  <td>###ROW_POINTS######ROW_POINTS2###</td>
</tr>
###ROW###
</table>
</div>
###ROWS###

<!-- ###PENALTIES### start -->
<div class="cfcleague-leaguetable-comments">

<h3>Hinweise</h3>
<!-- ###PENALTY### start -->
<p class="cfcleague-leaguetable-comment">* ###PENALTY_COMMENT###
</p>
<!-- ###PENALTY### end -->
</div>
<!-- ###PENALTIES### end -->

###SPORTS_ICEHOCKEY###

<!-- ------------------------------- -->
<!-- ------------------------------- -->

###SPORTS_VOLLEYBALL###

<h2>###LEAGUE_NAME###</h2>

<!-- ###CONTROLS### start -->
<div class="cfcleague-scopeselection">
###CONTROL_TABLETYPE###
<p>
###CONTROL_TABLETYPE_NORMAL_LINK### ###LABEL_TABLETYPE_NORMAL### ###CONTROL_TABLETYPE_NORMAL_LINK###
###CONTROL_TABLETYPE_HOME_LINK### ###LABEL_TABLETYPE_HOME### ###CONTROL_TABLETYPE_HOME_LINK###
###CONTROL_TABLETYPE_AWAY_LINK### ###LABEL_TABLETYPE_AWAY### ###CONTROL_TABLETYPE_AWAY_LINK###
</p>
###CONTROL_TABLETYPE###

###CONTROL_TABLESCOPE###
<p>
###CONTROL_TABLESCOPE_NORMAL_LINK### ###LABEL_TABLESCOPE_NORMAL### ###CONTROL_TABLESCOPE_NORMAL_LINK### 
###CONTROL_TABLESCOPE_FIRST_LINK### ###LABEL_TABLESCOPE_FIRST### ###CONTROL_TABLESCOPE_FIRST_LINK### 
###CONTROL_TABLESCOPE_SECOND_LINK### ###LABEL_TABLESCOPE_SECOND### ###CONTROL_TABLESCOPE_SECOND_LINK###
</p>
###CONTROL_TABLESCOPE###

###CONTROL_POINTSYSTEM###
<p>
###CONTROL_POINTSYSTEM_POINT3_LINK### ###LABEL_POINTSYSTEM_POINT3### ###CONTROL_POINTSYSTEM_POINT3_LINK###
###CONTROL_POINTSYSTEM_POINT2_LINK### ###LABEL_POINTSYSTEM_POINT2### ###CONTROL_POINTSYSTEM_POINT2_LINK###
</p>
###CONTROL_POINTSYSTEM###

</div>
<!-- ###CONTROLS### end -->


###ROWS###
<div class="cfcleague-leaguetable">
<table class="table table-striped">
<tr>
  <th>Pl.</th><th>###LABEL_CLUB###</th><th>###LABEL_MATCHES###</th><th>S</th><th>U</th><th>N</th><th>###LABEL_BALLS###</th><th>###LABEL_DIFF###</th><th>###LABEL_SETS###</th><th>###LABEL_DIFF###</th><th>###LABEL_POINTS###</th>
</tr>

###ROW###
<tr class="cfcleague-leaguetable-row###ROW_ROLL### ###ROW_MARKCLUB### cfcleague-leaguetable-row_###ROW_MARK###">
  <td>###ROW_POSITION###. (###ROW_OLDPOSITION###)</td>
  <td>###ROW_LOGO### ###ROW_SHOWTEAMLINK######ROW_NAME######ROW_PENALTIES######ROW_SHOWTEAMLINK### (###ROW_SHOWMATCHTABLELINK######LABEL_MATCHTABLE######ROW_SHOWMATCHTABLELINK###)</td>
  <td>###ROW_MATCHCOUNT###</td>
  <td>###ROW_WINCOUNT###</td>
  <td>###ROW_DRAWCOUNT###</td>
  <td>###ROW_LOSECOUNT###</td>
  <td>###ROW_BALLS1###:###ROW_BALLS2###</td>
  <td>###ROW_BALLS_DIFF######ROW_BALLS_QUOT###</td>
  <td>###ROW_SETS1###:###ROW_SETS2###</td>
  <td>###ROW_SETS_DIFF######ROW_SETS_QUOT###</td>
  <td>###ROW_POINTS######ROW_POINTS2###</td>
</tr>
###ROW###
</table>
</div>
###ROWS###

<!-- ###PENALTIES### start -->
<div class="cfcleague-leaguetable-comments">

<h3>Hinweise</h3>
<!-- ###PENALTY### start -->
<p class="cfcleague-leaguetable-comment">* ###PENALTY_COMMENT###
</p>
<!-- ###PENALTY### end -->
</div>
<!-- ###PENALTIES### end -->

###SPORTS_VOLLEYBALL###

###LEAGUE_TABLE###









<!-- ------------------------------- -->
<!-- ------------------------------- -->
<!-- ------------------------------- -->
<!-- ------------------------------- -->



<h2>Alternativ Table-Scope-Selection based an Select-Boxes</h2>
<p>Use this HTML-Code to show the Scope-Selection with Select-Boxes. To make it work, you have to 
change your Typoscript-Setup as well:
</p>
<pre>
plugin.tx_cfcleaguefe_competition.leaguetable {
  controls {
    tabletype {
      current.wrap = selected="selected" value="/|"
      normal.wrap = value="/|"
    }
    tablescope {
      current.wrap = selected="selected" value="/|"
      normal.wrap = value="/|"
    }
    pointsystem {
      current.wrap = selected="selected" value="/|"
      normal.wrap = value="/|"
    }
  }
}
</pre>



<!-- ###CONTROLS### start -->
<form action="dummy.php" method="get">

<table class="t3s-tctrl" style="width:100%">
<tr>
###CONTROL_TABLETYPE###
<td class="t3s-tctrl-label"><span>Heim/Auswärts</span></td><td class="t3s-tctrl-value">
<select name="action" onchange="window.location=(this.options[this.selectedIndex].value);">
  <option ###CONTROL_TABLETYPE_NORMAL_LINKURL###>Normal</option>
  <option ###CONTROL_TABLETYPE_HOME_LINKURL###>Heimtabelle</option>
  <option ###CONTROL_TABLETYPE_AWAY_LINKURL###>Auswärtstabelle</option>
</select>
</td>
###CONTROL_TABLETYPE###


###CONTROL_TABLESCOPE###
<td class="t3s-tctrl-label"><span>Hin-/Rückrunde</span></td><td class="t3s-tctrl-value">

<select name="action" onchange="window.location=(this.options[this.selectedIndex].value);">
  <option ###CONTROL_TABLESCOPE_NORMAL_LINKURL###>Saison</option>
  <option ###CONTROL_TABLESCOPE_FIRST_LINKURL###>Hinrunde</option>
  <option ###CONTROL_TABLESCOPE_SECOND_LINKURL###>Rückrunde</option>
</select>
</td>
###CONTROL_TABLESCOPE###

###CONTROL_POINTSYSTEM###
<td class="t3s-tctrl-label"><span>Punkte</span></td><td class="t3s-tctrl-value">
<select name="action" onchange="window.location=(this.options[this.selectedIndex].value);">
  <option ###CONTROL_POINTSYSTEM_POINT3_LINKURL###>2-Punkte-Regel</option>
  <option ###CONTROL_POINTSYSTEM_POINT2_LINKURL###>3-Punkte-Regel</option>
</select>
###CONTROL_POINTSYSTEM###
</td>
</tr>
</table>
</form>
<!-- ###CONTROLS### end -->

</body>
</html>


