<html>
<head>
</head>
<body>

<p>
This is the template for live ticker match
Markers
###MATCH_TICKER_LINK### - ticker site link
###MATCH_TICKER_LINK_URL### - url to ticker site
###MATCH_[colname]### - value of match column (same as for matchtable)
</p>

###LIVETICKER_VIEW###
<div id="cfcleague-tickerlist">
<h2>Der Liveticker berichtet vom Spiel</h2>
###MATCHS###
<table>
###MATCH###
<tr><td colspan="10">###MATCH_DATE###</td></tr>
<tr>
<td>###MATCH_HOME_LOGO###<br />###MATCH_HOME_NAME###</td>
<td>###MATCH_GUEST_LOGO###<br />###MATCH_GUEST_NAME###</td></tr>
<tr><td colspan="10">###MATCH_STADIUM###</td></tr>
<tr><td colspan="10">###MATCH_TICKERLINK###Zum Ticker###MATCH_TICKERLINK###</td></tr>
###MATCH###
</table>
###MATCHS###
</div>
###LIVETICKER_VIEW###

<p>
No Live-Ticker is shown, if no liveticker-match is set
</p>
###NO_LIVETICKER###
Derzeit stehen keine Liveticker an
###NO_LIVETICKER###


</body>
<html>
