<html>
<head>
<title>HTML-Template for match report</title>
</head>
<body>


###MATCHREPORT###

<h2>Der Spielbericht ###MATCH_COMPETITION_NAME### ###MATCH_ROUND_NAME###</h2>

<table style="width:100%">
<tr>
<td class="cfcleague-report-teamname">###MATCH_HOME_LOGO###</td><td class="cfcleague-report-result">###MATCH_GOALS_HOME### : ###MATCH_GOALS_GUEST###</td><td class="cfcleague-report-teamname">###MATCH_GUEST_LOGO###</td>
</tr>
<tr>
<td class="cfcleague-report-teamname">###MATCH_HOME_NAME###</td>
<td style="text-align:center">
 Stadion: <b>###MATCH_ARENA_SHOWLINK######MATCH_ARENA_NAME######MATCH_ARENA_SHOWLINK###</b><br />
 Datum: <b>###MATCH_DATE###</b><br />
 Schiedsrichter: <b>###MATCH_REFEREENAMES###</b><br />
 SRA: <b>###MATCH_ASSISTSNAMES###</b><br />
 Zuschauer: <b>###MATCH_VISITORS###</b><br />
</td>
<td class="cfcleague-report-teamname">###MATCH_GUEST_NAME###</td>
</tr>
</table>

<table>
<tr>
<th colspan="2">Die Aufstellungen</th>
</tr>
<tr>
<td id="cfcleague-report-lineup-home">###MATCH_LINEUP_HOME###</td>
<td id="cfcleague-report-lineup-guest">###MATCH_LINEUP_GUEST###</td>
</tr>
<tr>
<th colspan="2">Auf der Auswechselbank</th>
</tr>
<tr>
<td id="cfcleague-report-subst-home">###MATCH_SUBSTNAMES_HOME###</td>
<td id="cfcleague-report-subst-guest">###MATCH_SUBSTNAMES_GUEST###</td>
</tr>
<tr>
<th colspan="2">Die Trainer</th>
</tr>
<tr>
<td id="cfcleague-report-coach-home">###MATCH_COACHNAMES_HOME###</td>
<td id="cfcleague-report-coach-guest">###MATCH_COACHNAMES_GUEST###</td>
</tr>
<tr>
<th colspan="2">So fielen die Tore</th>
</tr>
<tr>
<td id="cfcleague-report-scorer-home">###MATCH_SCORERHOME###</td>
<td id="cfcleague-report-scorer-guest">###MATCH_SCORERGUEST###</td>
</tr>
</table>

<!-- ###MATCH_MEDIAS### begin -->
<div id="cfcleague-report-media">
<h2>Trainerkommentare</h2>
<!-- ###MATCH_MEDIA### begin -->
###MATCH_MEDIA_PLAYER###
<!-- ###MATCH_MEDIA### end -->
</div>
<!-- ###MATCH_MEDIAS### end -->


<div id="cfcleague-report-summary">
 <div id="cfcleague-report-summary-author">###MATCH_GAME_REPORT_AUTHOR###</div>
 <div id="cfcleague-report-summary-text">###MATCH_GAME_REPORT###</div>
</div>


<h2>Das Spielstenogramm</h2>
<div id="cfcleague-report-ticker">
 <div id="cfcleague-report-ticker-author">###MATCH_LIVETICKER_AUTHOR###</div>
###MATCH_TICKERLIST###
</div>

<!-- 
###MATCH_NOTES###
###MATCH_NOTE###
###MATCH_NOTE_MINUTE### - ###MATCH_NOTE_PLAYER### - ###MATCH_NOTE_TEXT###
###MATCH_NOTE###
###MATCH_NOTES###
 -->

  <div id="cfcleague-report-images">
  ###MATCH_PICTURES###
  </div>


###MATCH_LEAGUETABLE###

###MATCH_CHARTMATCH###

###MATCH_MATCHHISTORY###

###MATCH_MTCURRENTROUND###

###MATCHREPORT###




<h2>Subpart for historic matches</h2>

###HISTORIC_MATCHES###
###MATCHS###
<table cellspacing="0" cellpadding="0" class="cfcleague-matchtable">

###MATCH###
<tr class="cfcleague-matchtable-row###MATCH_ROLL### cfcleague-matchtable-rowinfo">
<td colspan="10">###MATCH_DATE### (###MATCH_COMPETITION_NAME###)</td>
</tr>
<tr class="cfcleague-matchtable-row###MATCH_ROLL### cfcleague-matchtable-rowmatch">
<td>###MATCH_ROUND_NAME###</td>
<td>###MATCH_HOME_SHOWTEAMLINK######MATCH_HOME_NAME######MATCH_HOME_SHOWTEAMLINK###</td>
<td>-</td>
<td>###MATCH_GUEST_SHOWTEAMLINK######MATCH_GUEST_NAME######MATCH_GUEST_SHOWTEAMLINK### </td>
<td class="cfcleague-matchtable-result">

<!-- ###RESULT_STATUS_0### Ergebnis vor dem Spiel -->
-&nbsp;:&nbsp;-
<!-- ###RESULT_STATUS_0### Ergebnis vor dem Spiel -->

<!-- ###RESULT_STATUS_-10### Ergebnis bei Spielverlegung -->
###LABEL_MATCHSTATUS_10###
<!-- ###RESULT_STATUS_-10### Ergebnis bei Spielverlegung -->

<!-- ###RESULT_STATUS_1### Ergebnis während des Spiels -->
###MATCH_GOALS_HOME###&nbsp;:&nbsp;###MATCH_GOALS_GUEST###
<!-- ###RESULT_STATUS_1### Ergebnis während des Spiels -->

<!-- ###RESULT_STATUS_2### Ergebnis nach Spielende -->
###MATCH_REPORTLINK######MATCH_GOALS_HOME###&nbsp;:&nbsp;###MATCH_GOALS_GUEST######MATCH_REPORTLINK###
<!-- ###RESULT_STATUS_2### Ergebnis nach Spielende -->
<br />###MATCH_ADDINFO###
</td>
</tr>
###MATCH###
</table>
###MATCHS###

###HISTORIC_MATCHES###


<h2>Subpart for matches of current round</h2>

###CURRENTROUND_MATCHES###
###MATCHS###
<h2>###LABEL_CURRENTROUND###: ###MATCH_ROUND_NAME###</h2>
<table cellspacing="0" cellpadding="0" class="cfcleague-matchtable">
###MATCH###
<tr class="cfcleague-matchtable-row###MATCH_ROLL### cfcleague-matchtable-rowinfo">
<td colspan="10">###MATCH_DATE###</td>
</tr>
<tr class="cfcleague-matchtable-row###MATCH_ROLL### cfcleague-matchtable-rowmatch">
<td>###MATCH_HOME_SHOWTEAMLINK######MATCH_HOME_NAME######MATCH_HOME_SHOWTEAMLINK###</td>
<td>-</td>
<td>###MATCH_GUEST_SHOWTEAMLINK######MATCH_GUEST_NAME######MATCH_GUEST_SHOWTEAMLINK### </td>
<td class="cfcleague-matchtable-result">

<!-- ###RESULT_STATUS_0### Ergebnis vor dem Spiel -->
-&nbsp;:&nbsp;-
<!-- ###RESULT_STATUS_0### Ergebnis vor dem Spiel -->

<!-- ###RESULT_STATUS_-10### Ergebnis bei Spielverlegung -->
###LABEL_MATCHSTATUS_10###
<!-- ###RESULT_STATUS_-10### Ergebnis bei Spielverlegung -->

<!-- ###RESULT_STATUS_1### Ergebnis während des Spiels -->
###MATCH_GOALS_HOME###&nbsp;:&nbsp;###MATCH_GOALS_GUEST###
<!-- ###RESULT_STATUS_1### Ergebnis während des Spiels -->

<!-- ###RESULT_STATUS_2### Ergebnis nach Spielende -->
###MATCH_REPORTLINK######MATCH_GOALS_HOME###&nbsp;:&nbsp;###MATCH_GOALS_GUEST######MATCH_REPORTLINK###
<!-- ###RESULT_STATUS_2### Ergebnis nach Spielende -->
<br />###MATCH_ADDINFO###
</td>
</tr>
###MATCH###
</table>
###MATCHS###

###CURRENTROUND_MATCHES###
</body>
</html> 