<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<!--
		IMPORTANT: The stylesheet link below is only for testing the template file directly in a browser while editing it.
		On the website the css styles for tt_news have to be include with the static TS template "default CSS style (tt_news)" or
		with an external file (see tt_news/res/tt_news_v2_styles.css) which you include via TypoSript in the "page" object.

 -->
	<title>Profile example template</title>
    <link href="../res/profile_stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- ###PROFILE_LIST### begin-->
<div id="cfcleague-profilelist">

<!-- ###PROFILES### start-->
<table class="cfcleague-profilelist-pagertable">
<tr><td colspan="3" class="cfcleague-profilelist-pager">
<!-- ###CHARBROWSER### begin-->
<span class="cfcleague-profilelist-pagerlink">###PB_ITEM_LINK######PB_ITEM######PB_ITEM_LINK###</span>
<span class="cfcleague-profilelist-pagersize">###PB_ITEM_LINK###(###PB_ITEM_SIZE###)###PB_ITEM_LINK###</span>
<!-- ###CHARBROWSER### end-->
</td></tr>

<!-- ###PROFILE### start-->
<tr>
  <td>###PROFILE_SHOWPROFILELINK######PROFILE_LAST_NAME###, ###PROFILE_FIRST_NAME######PROFILE_SHOWPROFILELINK### ###PROFILE_FIRSTPICTURE###</td>
  <td>###PROFILE_BIRTHDAY###</td>
  <td>###PROFILE_SUMMARY###</td>
</tr>
<!-- ###PROFILE### end-->

<!-- ###PAGEBROWSER### START -->
<tr><td colspan="3" class="cfcleague-profilelist-pager">
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE###
Seite ###PAGEBROWSER_CURRENT_PAGE_NUMBER###
###PAGEBROWSER_CURRENT_PAGE###

###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###

###PAGEBROWSER_PREV_PAGE###
&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;
###PAGEBROWSER_PREV_PAGE###

###PAGEBROWSER_NEXT_PAGE###
&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;
###PAGEBROWSER_NEXT_PAGE###

###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK###
###PAGEBROWSER_FIRST_PAGE###

###PAGEBROWSER_LAST_PAGE###
###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK###
###PAGEBROWSER_LAST_PAGE###

</div>
</td></tr>
<!-- ###PAGEBROWSER### END -->


<tr><td colspan="3" class="cfcleague-profilelist-pager">
<!-- ###CHARBROWSER### begin-->
<span class="cfcleague-profilelist-pagerlink">###PB_ITEM_LINK######PB_ITEM######PB_ITEM_LINK###</span>
<span class="cfcleague-profilelist-pagersize">###PB_ITEM_LINK###(###PB_ITEM_SIZE###)###PB_ITEM_LINK###</span>
<!-- ###CHARBROWSER### end-->
</td></tr>

</table>
<!-- ###PROFILES### end-->

</div>
<!-- ###PROFILE_LIST### end-->







<!-- ###PROFILE_VIEW### begin -->
<div id="cfcleague-profileview">
  <h1>###PROFILE_DCNAME###</h1>

<table style="width:480px">
<tr>
  <td rowspan="20" style="vertical-align:top">###PROFILE_FIRSTPICTURE###</td>
  <td class="prof_head">Geburtsdatum:</td>
  <td class="prof_value">###PROFILE_BIRTHDAY###</td>
</tr>
<tr>
  <td class="prof_head">Nationalit&auml;t:</td>
  <td class="prof_value">###PROFILE_NATIONALITY###</td>
</tr>
<tr>
  <td class="prof_head">Gr&ouml;&szlig;e:</td>
  <td class="prof_value">###PROFILE_HEIGHT### cm</td>
</tr>
<tr>
  <td class="prof_head">Gewicht:</td>
  <td class="prof_value">###PROFILE_WEIGHT### kg</td>
</tr>
<tr>
  <td class="prof_head">Position:</td>
  <td class="prof_value">###PROFILE_POSITION###</td>
</tr>
<tr>
  <td class="prof_head">Trikotnummer (aus TeamNote):</td>
  <td class="prof_value">###PROFILE_TNTRIKOT###</td>
</tr>



<tr>
  <td class="prof_head">Vertragsdauer:</td>
  <td class="prof_value">###PROFILE_DURATION_OF_CONTRACT###</td>
</tr>
<tr>
  <td class="prof_head">im Verein seit:</td>
  <td class="prof_value">###PROFILE_START_OF_CONTRACT###</td>
</tr>
<tr>
  <td class="prof_head">Sternzeichen:</td>
  <td class="prof_value">###PROFILE_SIGN###</td>
</tr>
<tr>
  <td class="prof_head">Spitzname:</td>
  <td class="prof_value">###PROFILE_NICKNAME###</td>
</tr>
</table>
<p class="bodytext">###PROFILE_SUMMARY###</p>
<p class="bodytext">###PROFILE_DESCRIPTION###</p>

Bilder: ###PROFILE_PICTURES###

###PROFILE_STATS_LEAGUE###
<h2>Spielerstatistik (needs T3sportstats)</h2>
Spiele: ###PROFILE_STATS_LEAGUE_PLAYEDLINK### ###PROFILE_STATS_LEAGUE_PLAYED### ###PROFILE_STATS_LEAGUE_PLAYEDLINK###<br />
Minuten: ###PROFILE_STATS_LEAGUE_PLAYTIME###<br />
Tore: ###PROFILE_STATS_LEAGUE_GOALSLINK### ###PROFILE_STATS_LEAGUE_GOALS### ###PROFILE_STATS_LEAGUE_GOALSLINK###<br />

###PROFILE_STATS_LEAGUE###

###PROFILE_STATS_REFEREE###
<h2>Schiedsrichterstatistik (needs T3sportstats)</h2>
Spiele: ###PROFILE_STATS_REFEREE_PLAYEDLINK### ###PROFILE_STATS_REFEREE_PLAYED### ###PROFILE_STATS_REFEREE_PLAYEDLINK###<br />
als Schiedsrichter: ###PROFILE_STATS_REFEREE_MAINREF###<br />
als Assistent: ###PROFILE_STATS_REFEREE_ASSIST###<br />
Elfmeter: ###PROFILE_STATS_REFEREE_PENALTY###<br />
Karten (G/GR/R): ###PROFILE_STATS_REFEREE_CARDYELLOW###/###PROFILE_STATS_REFEREE_CARDYR###/###PROFILE_STATS_REFEREE_CARDRED### <br />

###PROFILE_STATS_REFEREE###

</div>
<!-- ###PROFILE_VIEW### end-->

</body>
</html>
