<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<!-- ------------------------------- -->
<!-- START TABLE CHART -->
<!-- ------------------------------- -->

<div>
Alle Vorlagen in dieser Datei sind nur als Implementierungshinweis zu sehen. 
</div>

###TABLECHART###

<!-- -----------------------------------------------------------------
http://www.jqplot.com/

This is just an example. The sources of jqplot are not included!
----------------------------------------------------------------- -->

###JQPLOT###

<script type="text/javascript" src="/fileadmin/scripts/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/fileadmin/scripts/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="fileadmin/scripts/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="/fileadmin/scripts/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="/fileadmin/scripts/jqplot/plugins/jqplot.highlighter.min.js"></script>

<link rel="stylesheet" type="text/css" href="/fileadmin/scripts/jqplot/jquery.jqplot.min.css" />

<script type="text/javascript">

jQuery(document).ready(function(){
	  var chartData = ###JSON###;
		var series = [];
		var seriesConfig = [];
		// fill the series data
		for (var i = 0; i < chartData.datasets.length; i++) {
			series.push(chartData.datasets[i].data);
			seriesConfig.push({
				lineWidth:2,
				label: chartData.datasets[i].info.name,
				markerOptions: { size: 7, style:"filledCircle" }
			});
		}
		
		var plot3 = $.jqplot('chart1', series,
			{
				animate: true,
				title:'Tabellenfahrt',
				axes: {
					xaxis: {
						pad: 1,
						max: chartData.xmax,
						min: 1,
						tickOptions: {
							formatString: '%.0f'
						},
						label: 'Spieltag'
					},
					yaxis: {
						pad: 1,
						max: 1,
						min: 18,
						rendererOptions: {
						},
						tickOptions: {
							formatString: '%.0f'
						},
						label: 'Platz'
						// same options as axesDefaults
					},
				},
				legend: { show: true },
				// Series options are specified as an array of objects, one object
				// for each series.
				series: seriesConfig,
				highlighter: {
					show: true, 
					showLabel: true, 
/*					tooltipAxes: 'y',*/
					formatString: '<b><i><span style="color:red;">Platz %s</span></i></b> am %s. Spieltag',
					useAxesFormatters: false,
					sizeAdjust: 7.5, 
					tooltipLocation : 'ne'
				}
			}
		);
	});
</script>


<div class="chart-container">
	<div id="chart1" class="jqplot-target" style="width:100%; height:300px; position:relative;">
	</div>
</div>

###JQPLOT###

<!-- -----------------------------------------------------------------
http://www.flotcharts.org/
----------------------------------------------------------------- -->

###FLOT###
<style>
.chart-container {
	box-sizing: border-box;
	width: 500px;
	height: 400px;
	padding: 20px 15px 15px 15px;
	margin: 15px 15px;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.chart-placeholder { width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

</style>

<script type="text/javascript" src="/typo3conf/ext/rn_base/Resources/Public/JavaScript/Flot/jquery.flot.min.js"></script>

<script type="text/javascript">

jQuery(document).ready(function(){
	var chartData = ###JSON###;
	var series = [];
	var seriesConfig = [];
	// fill the series data
	for (var i = 0; i < chartData.datasets.length; i++) {
		series.push({ 
			label: chartData.datasets[i].info.name,
			data: chartData.datasets[i].data 
		});
		seriesConfig.push({
			lineWidth:2,
			label: chartData.datasets[i].info.name,
			markerOptions: { size: 7, style:"filledCircle" }
		});
	}
	jQuery("<div id='tooltip'></div>").css({
		position: "absolute",
		display: "none",
		border: "1px solid #fdd",
		padding: "2px",
		"background-color": "#fee",
		opacity: 0.80
	}).appendTo("body");
	jQuery("#placeholder").bind("plothover", function (event, pos, item) {
		if (item) {
			var x = item.datapoint[0].toFixed(0),
				y = item.datapoint[1].toFixed(0);
			jQuery("#tooltip").html(item.series.label + ": <strong>Platz " + y + "</strong> am " + x + ". Spieltag")
				.css({top: item.pageY+5, left: item.pageX+5})
				.fadeIn(200);
		} else {
			jQuery("#tooltip").hide();
		}
	});

	var options = {
			legend: {show:true},
			series: {
				lines: {
					show: true
				},
				points: {
					show: true
				}
			},
			grid: {
				hoverable: true,
			},
			xaxis: {max: chartData.xmax},
			yaxis: {
				min: 1,
				tickDecimals: 0,
				ticks: 18,
				transform: function (v) { return -v; },
				inverseTransform: function (v) { return -v; }
			}
	};
	jQuery.plot("#placeholder", series, options);
});

</script>

<div class="chart-container">
	<div id="placeholder" class="chart-placeholder"></div>
</div>

###FLOT###

###TABLECHART###



</body>
</html>