<html>
<head>
 <title>cfc_league_fe: Template for TeamView</title>
</head>
<body>

<pre>
Verfügbare Tags für Bilder:

###TEAM_FIRST_PICTURE_IMGTAG### Das erste Bild in der Bildliste
###TEAM_FIRST_PICTURE_CAPTION### Der Infotext des Bilds
###TEAM_FIRST_PICTURE_DESCRIPTION### Beschreibung des Bilds
###TEAM_PLAYER_FIRST_PICTURE### Das erste Bild des Spielers
###TEAM_PLAYER_PICTURES### Subpart für weitere Bilder der Spieler
###TEAM_PLAYER_PICTURES_2### Subpart für ein weiteres Bild des Spielers innerhalb der weiteren Bilder
###TEAM_PLAYER_PICTURE### Marker für ein weiteres Bild innerhalb von ###PLAYER_PICTURES_2###
###TEAM_COACH_FIRST_PICTURE### Das erste Bild des Trainers
###TEAM_SUPPORTER_FIRST_PICTURE### Das erste Bild eines Betreuers
Für weitere Team-, Trainer- und Betreuerbilder gelten die gleichen Regeln wie bei den Spielern.

Alle Daten des Teams sind über die Spaltennamen verfügbar und können bei Bedarf auch per TS 
formatiert werden. Beispiele:
###TEAM_NAME### Name des Teams
###TEAM_SHORT_NAME### Kurzname des Teams
###TEAM_PLAYERS_COMMENT### Bemerkung zu Betreuern
###TEAM_SUPPORTERS_COMMENT### Bemerkung zu Betreuern
###TEAM_COACHES_COMMENT### Bemerkung zu Betreuern
###TEAM_COMMENT### Bemerkung zum Team
###TEAM_LOGO### Logo des Teams
###TEAM_AGEGROUP_NAME### Name der Altersklasse des Teams
Daten des Vereins beginnen mit ###TEAM_CLUB_...###, z.B.:
###TEAM_CLUB_NAME### Vereinsname
###TEAM_CLUB_EMAIL### Mailadresse
###TEAM_CLUB_WWW### Webadresse

</pre>

<!-- ###TEAM_LIST### begin-->

<!-- ###TEAMS### begin entry for team list -->
<!-- ###TEAM### begin entry for single team -->
<div id="cfcleague-teamview">
  <h2>###TEAM_LOGO### ###TEAM_NAME### (###TEAM_AGEGROUP_NAME###) (###TEAM_SHOWTEAMLINK###Infos###TEAM_SHOWTEAMLINK###) (###TEAM_SHOWMATCHTABLELINK###Spielplan###TEAM_SHOWMATCHTABLELINK###)</h2>
  <p>Verein: ###TEAM_CLUB_NAME###<br />
  Webseite: ###TEAM_CLUB_WWW###<br />
  Mail: ###TEAM_CLUB_EMAIL###<br />
  </p>

</div>
<!-- ###TEAM### end -->


<!-- ###PAGEBROWSER### START -->
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE###
Seite ###PAGEBROWSER_CURRENT_PAGE_NUMBER###
###PAGEBROWSER_CURRENT_PAGE###

###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###

###PAGEBROWSER_PREV_PAGE###
&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;
###PAGEBROWSER_PREV_PAGE###

###PAGEBROWSER_NEXT_PAGE###
&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;
###PAGEBROWSER_NEXT_PAGE###

###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK###
###PAGEBROWSER_FIRST_PAGE###

###PAGEBROWSER_LAST_PAGE###
###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK###
###PAGEBROWSER_LAST_PAGE###

</div>
<!-- ###PAGEBROWSER### END -->

<!-- ###TEAMS### end -->

<!-- ###TEAM_LIST### end -->
</body>
</html>